source https://api.nuget.org/v3/index.json
framework: auto-detect
redirects: on

nuget FSharp.Compiler.CodeDom
nuget FSharp.Compiler.Service
nuget FSharp.Core ~> 4.1
nuget NETStandard.Library
nuget NHamcrest.XUnit ~> 2.0
nuget SourceLink.Create.CommandLine
nuget xunit
nuget xunit.runner.visualstudio